<h1><%= title %></h1>

<% if (typeof errors !== "undefined" && errors.array && errors.array().length > 0) { %>
  <ul class="notice">
    <% errors.array().forEach(error => { %>
      <li><%= error.msg %></li>
    <% }) %>
  </ul>
<% } %>

<!-- Car Details -->
<% if (detailHtml) { %>
  <div><%- detailHtml %></div>
<% } %>


<% if (loggedin) { %>
  <form class="add-comment-form" action="/inv/comment" method="post">
    <input type="hidden" name="inv_id" value="<%= inv_id %>">
    <textarea name="comment_text" required placeholder="Add your comment"></textarea>
    <button type="submit">Add Comment</button>
  </form>
<% } %>

<div class="comments-section">
  <h3>Comments</h3>
  <ul>
    <% if (comments && comments.length > 0) { %>
      <% comments.forEach(comment => { %>
        <li>
          <strong><%= comment.account_firstname %>:</strong>
          <%= comment.comment_text %>
          <em>(<%= comment.comment_date.toLocaleString() %>)</em>
        </li>
      <% }) %>
    <% } else { %>
      <li>No comments yet.</li>
    <% } %>
  </ul>
</div>


